@media screen and (max-width: 360px) {
    .image {
    height: 600px;
     width: 600px;
}
}

@media screen and (max-width: 600px) {
    
    p{
    width: 400px;
    position: relative;
}
}
.forms {
    width: 400px;
    height: 400px;
    font-size: 80px;
}

